   <!--  selector -->
   <div class="selector">
    <div class="currency__social-box"></div>
    <div class="contaner">
      <div class="selector__box">
        <div class="selector__inner">
          <select id="card-selector" class="selector__wrapper">
            <option value="card1">Currency pairs</option>
            <option value="card2">Cryptocurrencies</option>
            <option value="card3">Stocks</option>
          </select>
        </div>
      </div>
      <div id="card1" class="card card1">ttttttttttt</div>
      <div id="card2" class="card card2">qqqqqqqqqq</div>
      <div id="card3" class="card card3">rrrrrrrrrrrr</div>
    </div>
  </div>
  <!--   selector -->
  
  
  
      
  <!-- selector -->
  <div class="selector">
    <div class="currency__social-box"></div>
    <div class="container">
      <div class="selector__box">
        <div class="selector__inner">
          <select id="card-selector2" class="selector__wrapper">
            <option value="card4">June</option>
            <option value="card5">July</option>
            <option value="card6">August</option>
            <option value="card6">September</option>
          </select>
        </div>
      </div>
      <div id="card4" class="card2">
        <ul class="cart2__items">
          <li class="cart2__item">
            <span class="cart2__min">Minimum Price</span>
            <span class="cart2__sum">$59,944.84</span>
          </li>
          <li class="cart2__item">
            <span class="cart2__max">Minimum Price</span>
            <span class="cart2__sum">$$73,265.rrrr92</span>
          </li>
          <li class="cart2__item">
            <span class="cart2__price">Minimum Price</span>
            <span class="cart2__sum">$$66,605.rrrrrrrwwwwwwwwwww38</span>
          </li>
        </ul>
      </div>
      <div id="card5" class="card2">
        <ul class="cart2__items">
          <li class="cart2__item">
            <span class="cart2__text">ffffffffffffffffffffffff</span>
            <span class="cart2__sum">$59,944.84</span>
          </li>
          <li class="cart2__item">
            <span class="cart2__text">Missssssssssnimum Price</span>
            <span class="cart2__sum">$$73,265.92</span>
          </li>
          <li class="cart2__item">
            <span class="cart2__text">Minimum Price</span>
            <span class="cart2__sum">$$66,605.38</span>
          </li>
        </ul>
      </div>
      <div id="card6" class="card2">
        <ul class="cart2__items">
          <li class="cart2__item">
            <span class="cart2__text">Mwrrrrrrrrrrrinimum Price</span>
            <span class="cart2__sum">$59,944.84</span>
          </li>
          <li class="cart2__item">
            <span class="cart2__text">Minirwwrrrrrrrrmum Price</span>
            <span class="cart2__sum">$$73,265.92</span>
          </li>
          <li class="cart2__item">
            <span class="cart2__text">Minimum Price</span>
            <span class="cart2__sum">$$66,605.38</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- selector -->