.catalog {
    margin-top: 100px;
    margin-bottom: 200px;
    position: relative;

    h2 {
        font-size: 100px;
        @extend %co-400;
        line-height: 1.5em;
        letter-spacing: 2%;
        text-transform: uppercase;
        color: #fff;
        max-width: 570px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    &__text {
        font-size: 20px;
        @extend %os-300;
        line-height: 1.3em;
        color: #fff;
        max-width: 540px;
        margin-left: 95px;

    }

    &__text+&__text {
        margin-top: 30px;
    }

    &__box {
        position: relative;
        border-radius: 20px;
        background: rgba(0, 0, 0, 0.2);
        padding: 30px;






        h3 {
            color: rgb(67, 255, 210);
            font-size: 30px;
            @extend %os-700;
            max-width: 220px;
            line-height: 1em;
            margin-bottom: 20px;
        }
    }

    &__box:nth-child(1) {
        width: 100%;
        max-width: 605px;
    }

    &__box:nth-child(2) {
        top: 175px;
        max-width: 435px;
        width: 100%;
        height: 282px;
    }

    &__box:nth-child(3) {
        max-width: 520px;
        width: 100%;
        height: 310px;
    }

    &__box:nth-child(4) {
        margin-top: 60px;
        max-width: 520px;
        width: 100%;
        height: 264px;
    }


    &__items {
        padding-left: 30px;
    }

    &__item {
        color: rgb(255, 255, 255);
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 4%;
        text-transform: uppercase;
        @extend %os-400;
        list-style-type: disc;

        &.link {
            list-style-type: none !important;
            text-align: end;

        }
    }

    .link {
        position: absolute;
        right: 30px;
        bottom: 30px;
    }

    &__item-link {
        color: rgb(217, 120, 172);
        font-family: Oswald;
        font-size: 12px;
        @extend %os-700;
        letter-spacing: 10%;
        border-bottom: 1px solid rgb(217, 120, 172);
        margin-top: 24px;
    }




    &::before {
        content: '';
        position: absolute;
        width: 100%;
        max-width: 707px;
        height: 236.87px;
        transform: rotate(32.83deg);
        left: 0;
        filter: blur(250px);
        background: rgb(125, 34, 83);
        bottom: 30%;
        z-index: -2;

    }

    &::after {
        content: '';
        position: absolute;
        filter: blur(250px);
        background: rgb(67, 255, 210);
        width: 100%;
        max-width: 879.44px;
        height: 211.05px;
        transform: rotate(32.83deg);
        right: 0%;
        bottom: 30%;
        z-index: -1;
    }

}


@media (max-width: 900px) {
    .catalog {
        h2 {
            font-size: 55px;
        }

        &__text {
            margin-left: 40px;
        }

        &__box:nth-child(2) {
            top: 158px;

        }
    }
}

@media (max-width: 660px) {
    .catalog {
        padding: 50px 0;
        margin: 0;

        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
        }

        .catalog__box:nth-child(2),
        .catalog__box:nth-child(3),
        .catalog__box:nth-child(4) {
            top: 0px;
            max-width: 100%;
            margin: 0;
        }

        &__text,
        &__item {
            font-size: 16px;
        }
        & h2{
            font-size: 50px;
        }
        & h3 {
            font-size: 25px;
        }
    }
}

@media (max-width: 400px) {
    .catalog {
        &__box {
            padding: 15px;
        }
    }
}