.body__error-404 {
    header {
        background: #000;
    }
}


.error-404 {
    position: relative;
    background-image: url("/img/error-404/404.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 15%;
    .payment__link{
        &::before{
            display: none;
        }
    }
    @media(max-width:800px) {
        background-image: url("/img/error-404/404-mob.png");

    }

    @media(max-width:520px) {
        height: clamp(60vh, 60vh, 80vh);

    }
    &__box{
        position: absolute;
        bottom: 30%;
        right: 20%;
    }
    &__text{
        color: #fff;
        @extend %os-700;
    }
     &__text + &__text{
        margin-top: 20px;
     }
}