 @font-face {
   font-family: "Oswald-Light";
   font-weight: 300;
   font-style: normal;
   src: local("Oswald-Light"),
     url("../fonts/Oswald-Light.woff2") format("woff2"),
     url("../fonts/Oswald-Light.woff") format("woff");
   font-display: swap;
 }

 @font-face {
   font-family: "Oswald-Regular";
   font-weight: 400;
   font-style: normal;
   src: local("Oswald-Regular"),
     url("../fonts/Oswald-Regular.woff2") format("woff2"),
     url("../fonts/Oswald-Regular.woff") format("woff");
   font-display: swap;
 }

 @font-face {
   font-family: "Oswald-Bold";
   font-weight: 700;
   font-style: normal;
   src: local("Oswald-Bold"),
     url("../fonts/Oswald-Bold.woff2") format("woff2"),
     url("../fonts/Oswald-Bold.woff") format("woff");
   font-display: swap;
 }

 @font-face {
   font-family: "Cormorant-Regular";
   font-weight: 400;
   font-style: normal;
   src: local("Cormorant-Regular"),
     url("../fonts/Cormorant-Regular.woff2") format("woff2"),
     url("../fonts/Cormorant-Regular.woff") format("woff");
   font-display: swap;
 }