// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1200;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$mainColor: #131418;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: #fff;
$burgerActiveColor: #fff;
;

// Fonts
$fontMain: sans-serif;
$fontSecondary: '';


%os-300 {
  font-family: "Oswald-Light";
  font-weight: 300;
}

%os-400 {
  font-family: "Oswald-Regular";
  font-weight: 400;
}

%os-700 {
  font-family: "Oswald-Bold";
  font-weight: 700;
}



%co-400 {
  font-family: "Cormorant-Regular";
  font-weight: 400;
}

%btn {
  font-size: 12px;
  position: relative;
  overflow: hidden;
  color: black;
  background: #43FFD2;
  border: none;
  padding: 18px 52px;
  cursor: pointer;
  transition: all 0.6s;
  transition: transform 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-family: "Oswald-Bold";
  font-weight: 700;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.4) 50%,
        rgba(255, 255, 255, 0) 100%);
    transform: skewX(-20deg);
    transition: left 0.6s ease;
  }

  &:hover::after {
    left: 130%;
  }

  &:hover {
    background: #7D2253;
    color: #fff;
    transition: all 0.6s;

    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
  }
}