.body-faq {
  header {
    background: #000;

  }
}



.faq {

  background-image: url("../img/faq/faq.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;


  padding-bottom: 200px;


  .title__l span:first-child {
    left: -18%;
  }

  @media (max-width:1100px) {
    .title__l span:first-child {
      left: unset;
    }
  }

  @media (max-width: 668px) {
    & {
      background-image: url("../img/faq/faq-mob.png");
    }
  }

  .accordion {
    margin-top: 50px;

    .accordion__item {
      border: 1px solid rgba(67, 255, 210, 1);
      margin-top: 10px;


      // Trigger styles
      .accordion__item-trigger {
        display: flex;
        padding: 20px 20px;
        align-items: center;
        cursor: pointer;

        .trigger__text {
          font-style: normal;
          font-weight: bold;
          font-size: clamp(14px, 2vw, 20px);
          @extend %os-400;
          line-height: 1.5em;
          letter-spacing: 0.035em;
          color: rgba(67, 255, 210, 1);
          margin-left: 10px;
        }

        .trigger__img {
          position: relative;
          margin-left: auto;

          .trigger__line-1 {
            display: block;
            width: 18px;
            height: 2px;
            background: rgba(67, 255, 210, 1);
            border-radius: 100px;
          }

          .trigger__line-2 {
            display: block;
            width: 18px;
            height: 2px;
            background: rgba(67, 255, 210, 1);
            margin-top: -2px;
            border-radius: 100px;
            transform: rotate(90deg);
          }

          .trigger__line-3 {
            position: relative;
            content: ">";
            display: block;
            width: 18px;
            height: 10px;
          }
        }
      }

      // Active state styles
      &.accordion__item-active {
        .accordion__item-content {
          display: block;
        }

        .trigger__line-2 {
          transform: rotate(0) !important;
          transition: 0.1s transform ease;
        }

        .trigger__line-1 {
          opacity: 0;
          transition: 0.1s all ease;
        }
      }

      // Content styles
      .accordion__item-content {
        padding-bottom: 20px;
        display: none;
        animation: fade 0.3s ease;

        .content__text {
          margin: 0px 30px;
          color: #fff;
          max-width: 950px;
          font-size: 20px;
          @extend %os-400;
          line-height: 1.3em;
          font-size: clamp(14px, 2vw, 20px);

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }

}