.selector {
  display: flex;
  justify-content: end;
  margin-top: 30px;

  &__inner {
    display: flex;
    justify-content: center;
    width: 258px;
    height: 40px;
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);



    &::before {
      content: '';
      position: absolute;
      background-image: url('../img/shop/select.png');
      width: 10px;
      height: 10px;
      z-index: 1;
      right: 30px;
      top: 16px;
      transition: all 0.5s;
    }

    &.active::before {
      transform: rotate(180deg);
      transition: all 0.5s;
    }
  }

  &__wrapper {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: flex;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    position: relative;
    padding: 11px 20px;
    cursor: pointer;



    option {
      background-color: #222;


    }

    &:focus-visible {
      outline: none;
    }
  }

}







@media (max-width: 992px) {


}