.slider-product {
  &__wrapper {
    .slider-product__back {
      display: none;
    }
  }

  .slider {
    color: #fff;
    display: flex;
  }

  .slider .swiper-container {
    width: 100%;
    height: 100%;
  }

  .slider__flex {
    display: flex;
    align-items: flex-start;
  }

  .slider__col {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 32px;
    gap: 10px;

  }

  .slider__prev,
  .slider__next {
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 auto;
  }

  .slider__prev {
    transform: rotate(180deg);
  }

  .slider__prev:focus,
  .slider__next:focus {
    outline: none;
  }

  .slider__thumbs {
    height: calc(450px - 96px);
  }

  .slider__thumbs .slider__image {
    transition: 0.25s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
    cursor: pointer;
  }

  .slider__thumbs .slider__image:hover {
    opacity: 1;
  }

  .slider__thumbs .swiper-slide-thumb-active .slider__image {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
  }

  .slider__images {
    height: 450px;
  }

  .slider__images .slider__image img {
    transition: 3s;
  }

  .slider__images .slider__image:hover img {
    transform: scale(1.1);
  }

  .slider__image {
    width: 100%;
    height: 100%;
    /*  border-radius: 30px; */
    overflow: hidden;
  }

  .slider__image img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }


  .slider__thumbs {
    overflow: hidden;
    height: 390px;
  }


  .slider {
    overflow: hidden;
  }




  .counter {
    width: 100%;
    max-width: 160px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    border: 0.5px solid rgb(255, 255, 255);

    &__input {
      width: 50px;
      height: 100%;
      color: #fff;
      font-family: "Roboto", Arial, sans-serif;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      outline: none;
      padding: 0 5px;
      background: transparent;
    }

    &__btn {
      width: 40px;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: #43ffd2;
      }

      &.minus {
        background-image: url(https://i.postimg.cc/d0R1H0hH/minus.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }

      &.plus {
        background-image: url(https://i.postimg.cc/Gtfh88f2/plus.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }

      &.disabled {
        pointer-events: none;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    margin-left: 30px;
  }

  &__wrapper-back {
    display: flex;
    align-items: center;
  }

  &__back {
    font-size: 10px;
    color: #fff;
    transition: all 0.5s;

    &:hover {
      color: #43ffd2;
      transition: all 0.5s;
    }

    span {
      font-size: 12px;
      margin-right: 4px;
    }
  }

  &__title {
    font-size: 40px;
    @extend %co-400;
    line-height: 1.5em;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
  }

  &__box {
    display: flex;
    gap: 20px;
  }

  &__new-prace {
    @extend %os-700;
    color: rgb(67, 255, 210);
    font-size: 30px;
  }

  &__prace {
    @extend %os-300;
    font-size: 30px;
    text-decoration-line: line-through;

  }

  &__text {
    font-size: 14px;
    @extend %os-700;
    margin-top: 20px;
    line-height: 1.5em;
  }

  &__description-text {
    @extend %os-300;
    font-size: 12px;
    margin-top: 20px;
    line-height: 1.5em;
    max-width: 400px;
  }


  &__select {
    display: flex;
    align-items: center;
    gap: 29px;
    margin-top: 80px;
  }

  &__btn {
    @extend %btnSlider;
    background: transparent;
    padding: 18px 82px;
    font-size: 12px;
    @extend %os-700;
  }




  @media (max-width: 1000px) {
    .slider {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__wrapper {
      .slider-product__back {
        display: block;
      }
    }

    .slider__flex {
      flex-direction: column-reverse;
      padding: 50px 0;
      align-items: center;
    }

    .swiper-container {
      overflow: hidden;
    }

    .slider__col {
      flex-direction: row;
      align-items: center;
      margin-right: 0;
      margin-top: 24px;
      width: 100%;
    }

    .swiper-slide {
      max-width: 100%;
    }

    .slider__images {
      width: 100%;
      height: 350px;
    }

    .slider__thumbs {
      height: 100px;
      width: calc(100% - 100px);

      margin: 0 16px;
    }

    .slider__prev,
    .slider__next {
      height: auto;
      width: 32px;
    }

    &__inner {
      margin-left: 0px;
    }

    .slider__prev {
      transform: rotate(90deg);
    }

    .slider__next {
      transform: rotate(268deg);
    }


    .swiper-slide {
      display: flex;
      justify-content: center;
    }

    .slider__image {
      max-width: 300px;
    }

    .slider__thumbs {
      max-width: 300px;
    }

    .slider__col {
      max-width: 400px;
    }

    &__inner {
      .slider-product__back {
        display: none;
      }
    }
  }

  @media (max-width: 668px) {
    .slider__flex {
      flex-direction: column-reverse;
      padding: 50px 0px;
    }

    .slider-product__select {
      margin-top: 20px;
    }

    .slider-product__btn {
      padding: 15px 60px;
    }
  }


  @media (max-width: 450px) {
    .slider-product__select {
      display: flex;
      flex-direction: column;
    }

    .slider-product__btn,
    .counter {
      max-width: 100%;
      width: 100%;
    }
  }
}